aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
altair==4.2.2
annotated-types==0.6.0
anyio==3.7.1
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asttokens==2.0.5
async-timeout==4.0.3
attrs==22.1.0
Babel==2.11.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.2
bleach==4.1.0
blinker==1.6.2
boltons==23.0.0
brotlipy==0.7.0
build==1.2.2.post1
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==2.0.4
chroma-hnswlib==0.7.6
chromadb==0.5.15
ci-info==0.3.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.2
conda==23.3.1
conda-content-trust==0.1.3
conda-package-handling==2.0.2
conda_package_streaming==0.7.0
configobj==5.0.8
configparser==6.0.0
contourpy==1.2.0
cryptography==39.0.1
cycler==0.12.1
dataclasses-json==0.5.14
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distro==1.9.0
Django==5.1.2
durationpy==0.9
entrypoints==0.4
etelemetry==0.3.1
exceptiongroup==1.2.0
executing==0.8.3
faiss-cpu==1.7.4
fastapi==0.106.0
fastjsonschema==2.16.2
ffmpy==0.3.1
filelock==3.13.1
fitz==0.0.1.dev2
flatbuffers==24.3.25
fonttools==4.47.0
frontend==0.0.3
frozenlist==1.4.0
fsspec==2023.12.2
future==0.18.3
gitdb==4.0.10
GitPython==3.1.36
google-auth==2.35.0
googleapis-common-protos==1.65.0
gradio==3.48.0
gradio_client==0.6.1
groq==0.11.0
grpcio==1.67.0
h11==0.14.0
httpcore==1.0.2
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
huggingface-hub==0.26.1
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
ipykernel==6.19.2
ipython==8.12.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jiter==0.6.1
joblib==1.4.2
json5==0.9.6
jsonpatch==1.33
jsonpointer==2.1
jsonschema==4.17.3
jupyter==1.0.0
jupyter_client==8.1.0
jupyter-console==6.6.3
jupyter_core==5.3.0
jupyter-server==1.23.4
jupyterlab==3.5.3
jupyterlab-pygments==0.1.2
jupyterlab_server==2.22.0
jupyterlab-widgets==3.0.5
kiwisolver==1.4.5
kubernetes==31.0.0
langchain==0.3.4
langchain-community==0.3.3
langchain-core==0.3.12
langchain-groq==0.2.0
langchain-experimental
langchain-openai==0.2.3
langchain-text-splitters==0.3.0
langchainhub==0.1.14
langsmith==0.1.136
looseversion==1.3.0
lxml==4.9.2
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.20.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==0.8.4
mmh3==5.0.1
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nbclassic==0.5.5
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.2.1
nibabel==5.2.0
nipype==1.8.6
notebook==6.5.4
notebook_shim==0.2.2
numexpr==2.8.6
numpy==1.26.0
oauthlib==3.2.2
onnxruntime==1.19.2
openai==1.52.0
openapi-schema-pydantic==1.2.4
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
orjson==3.10.9
overrides==7.7.0
packaging==23.2
pandas==2.1.0
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pip==23.0.1
platformdirs==2.5.2
pluggy==1.0.0
ply==3.11
posthog==3.7.0
prometheus-client==0.14.1
prompt-toolkit==3.0.36
protobuf==3.20.3
prov==2.0.0
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==13.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycosat==0.6.4
pycparser==2.21
pydantic==2.9.2
pydantic_core==2.23.4
pydantic-settings==2.6.0
pydeck==0.8.1b0
pydot==1.4.2
pydub==0.25.1
Pygments==2.15.1
Pympler==1.0.1
PyMuPDF==1.23.8
PyMuPDFb==1.23.7
pyOpenSSL==23.0.0
pyparsing==3.1.1
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5-sip==12.11.0
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2022.7
pyxnat==1.6
PyYAML==6.0.1
pyzmq==25.0.2
qtconsole==5.4.2
QtPy==2.2.0
rdflib==7.0.0
regex==2023.8.8
requests==2.28.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.5.3
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.11.4
semantic-version==2.10.0
semver==3.0.1
Send2Trash==1.8.0
sentence-transformers==3.2.1
setuptools==65.6.3
shellingham==1.5.4
simplejson==3.19.2
sip==6.6.2
six==1.16.0
smmap==5.0.1
sniffio==1.2.0
soupsieve==2.4
SQLAlchemy==2.0.21
sqlparse==0.5.1
stack-data==0.2.0
starlette==0.27.0
streamlit==1.18.1
sympy==1.13.1
tabulate
tenacity==8.2.3
terminado==0.17.1
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.2.1
tokenizers==0.20.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.0
torch==2.5.0
tornado==6.2
tqdm==4.65.0
traitlets==5.7.1
traits==6.3.2
transformers==4.45.2
typer==0.9.0
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing_extensions==4.12.2
typing-inspect==0.9.0
tzdata==2023.3
tzlocal==5.0.1
urllib3==1.26.15
uvicorn==0.25.0
uvloop==0.21.0
validators==0.22.0
watchfiles==0.24.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
websockets==11.0.3
wheel==0.38.4
widgetsnbextension==4.0.5
whitenoise
wrapt==1.16.0
yarl==1.9.2
zipp==3.17.0
zstandard==0.19.0
